:root{
    --blue: #2563EB;
    --text-primary-color: #0F172A;
    --tex-secondary-color: #475569;
    --gray: #475569;
    --violet: #581C87BF;

    /* couleurs du dégradé du bas (linéar gradiant) */

    --grandiant1: #312E81;
    --gradiant2: #1E40AF;
    --grandiant3: #1E3A8A;
    --gradiant4: #701A75;
}

header{
    border: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem;
    font-size: 1.8rem;
}

header h1{
    font-size: 3.2rem;
    color: var(--text-primary-color);
    cursor: pointer;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1.2rem;
}

a{
    text-decoration: none;
}

nav ul a{
    color: var(--text-primary-color);
    display: flex;
    align-items: center;
    transition: 0.5s;
}

nav ul a:hover{
    color: var(--blue);
    text-decoration: underline;
    font-size: 2rem;
}

.menu{
    display: none;
}

header div{
    display: flex;
    gap: 2.4rem;
    justify-content: center;
    align-items: center;
}

header div a{
    color: var(--blue);
}

header div button{
    font-size: 1.8rem;
    color: white;
    border: none;
    border-radius: 0.8rem;
    background-color: var(--blue);
    padding: 1.2rem 2.8rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    transition: 0.5s;
    cursor: pointer;
}

header div button:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 14px var(--gradiant2);
}

@media screen and (max-width: 1160px) {
    header div, nav{
        display: none;
    }

    .menu{
        display: block;
    }
}