
:root{
    --blue: #2563EB;
    --text-primary-color: #0F172A;
    --tex-secondary-color: #475569;
    --gray: #475569;
    --gray1: #F1F5F9;
    --violet: #581C87BF;

    /* couleurs du dégradé du bas (linéar gradiant) */

    --grandiant1: #312E81;
    --gradiant2: #1E40AF;
    --grandiant3: #1E3A8A;
    --gradiant4: #701A75;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem;
    font-size: 1.8rem;
    box-shadow: 0 1px 9px var(--gray);
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
}

header h1{
    font-size: 3.2rem;
    color: var(--text-primary-color);
    cursor: pointer;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1.2rem;
}

a{
    text-decoration: none;
}

nav ul a{
    color: var(--text-primary-color);
    display: flex;
    align-items: center;
    transition: 0.5s;
}

nav ul a:hover{
    color: var(--blue);
    text-decoration: underline;
    font-size: 2rem;
}

.menu{
    display: none;
}

header div{
    display: flex;
    gap: 2.4rem;
    justify-content: center;
    align-items: center;
}

header div a{
    color: var(--blue);
}

button{
    font-size: 1.8rem;
    color: white;
    border: none;
    border-radius: 0.8rem;
    background-color: var(--blue);
    padding: 1.2rem 2.8rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    transition: 0.5s;
    cursor: pointer;
}

button:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 14px var(--gradiant2);
}

@media screen and (max-width: 1160px) {
    header div, nav{
        display: none;
    }

    .menu{
        display: block;
    }
}

.hero-section{
    display: flex;
    justify-content: space-around;
    color: var(--gray);
    margin: 8rem 8rem;
    flex-wrap: wrap;
    gap: 3.2rem;
}

.hero-section_enfant{
    width: 66rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: center;
}

.hero-section_enfant h1{
   color: var(--text-primary-color);
   font-size: 7.2rem;
}

.hero-section_enfant p{
   font-size: 1.8rem;
}

.hero-enfant{
    display: flex;
}

.hero-enfant.un{
    gap: 1.6rem;
    width: 100%;
}

.hero-enfant.un div{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.hero-enfant.un div img{
    position: absolute;
    margin-left: 1rem;
}

.hero-enfant.un div input{
    border-radius: 0.8rem;
    padding: 1.2rem 3.8rem;
    border: solid 2px var(--gray1);
    width: 100%;
}

.hero-enfant.deux{
    width: 100%;
    flex-wrap: wrap;
    gap: 4.523rem;
    justify-content: space-between;
    padding: 1.6rem;
    background-color: var(--gray1);
}

.hero-enfant.deux div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.hero-enfant.deux div span{
    font-size: 1.8rem;
}

@media (max-width: 1451px) {
    .hero-section{
        gap: 8rem;
    }
    .image-hero{
        width: 66rem;
    }
    body{
        overflow-x: hidden;
    }

}

@media (max-width: 765px) {
    .hero-section{
        margin: 1rem;
        padding-top: 4rem;
    }
    header{
        padding: 1rem;
    }
    .image-hero{
        width: 100%;
    }

}

@media (max-width: 600px) {

    .hero-section{
        font-size: 1.6rem;
    }

    .hero-section_enfant h1{
        font-size: 4rem;
    }
    button{
        font-size: 1.6rem;
    }
    .hero-enfant.un div img{
        display: none;
    }
    .hero-enfant.un div input{
        padding-left: 0.7rem;
    }

}

.part2 .text .titre{
    font-weight: 700;
    font-size: 4rem;
    margin: 4.8rem 1.6rem 2.4rem 1.6rem;
    color: var(--text-primary-color);
}

.part2 .text .texte{
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0rem 1.6rem 3.2rem 1.6rem;
    color: var(--text-primary-color);
}

.part2 .text #sphere{
    margin-bottom: 4.8rem;
}

.part3 #montgolfiere{
    width: 39.3rem;
    height: 39.3rem;
    transform: rotate(90deg);
}
.part3 .super-mont{
    position: relative;
}

.part3 .super-mont .couleur-mont{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(88, 28, 135, 0.75);
    top: 0%;
}

.part3 .text .titre{
    font-weight: 700;
    font-size: 4rem;
    color: var(--text-primary-color);
    color: #FFFFFF;
}

.part3 .text .texte{
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-primary-color);
    color: #FFFFFF;
}

.part3 .text button{
    border: none;
    background: none;
    font-weight: 500;
    font-size: 1.6rem;
    color: #FFFFFF;
}

.part3 .text .conclu{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.part3 .text{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin: 4.8rem 2.4rem;
    position: absolute;
    top: 0%;
    left: 0%;
}

.part3{
    position: relative;
}
